/* .toaster_toaster {
  margin-top: 65px;
} */

.Toastify__toast-container {
  margin-top: 65px;
}

.Toastify__toast--success {
  background-color: #007bff !important;
  text-align: center;
  border-radius: 5px !important;
}

.Toastify__toast--error {
  background-color: #dc3545 !important;
  text-align: center;
  border-radius: 5px !important;
}
